
<div class="card" style="width: 18rem;">
      <img src="https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= list.name %></h5>
      </div>
</div>
