<%# ------------  banner -----------%>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80);">
  <div class="container">
    <h1>My movie list</h1>
    <p> Save any kind of movies</p>
  </div>
</div>

<%# ------------  Display card list -----------%>
<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category m-3 position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('list_background.jpg') %>)">
         <a><%= link_to list.name, list %></a>
         <%# <%= link_to "+", list_path(list), data: { turbo_method: :delete, turbo_confirm: "Delete this category?" }, class: "card-remove-link" %>
    </div>
  <% end %>

<%# ------------  Button to create a new list -----------%>
  <div class="card-category m-3"
       style="background-color: #986079">
       <%= link_to "New list", new_list_path %>
  </div>
</div>
